Flask
gunicorn
psycopg2-binary   # PostgreSQL adapter
SQLAlchemy        # Database ORM (Object-Relational Mapper) for easy management
reportlab         # For dynamic PDF generation (IDG-300)
Pillow            # For handling images (ID Face)
python-barcode    # For generating the QR code content (IDG-302)
